$poppins: "Poppins", Arial, sans-serif;
$montserrat: "Montserrat", Arial, sans-serif;
$inter: "Inter", Arial, sans-serif;
$accent-color: #475E69;
$green: #02897A;
$dark-secondary: #30444E;
$dark-primary: #1f2e35;
$blind-dark: rgba(31, 46, 53, .6);
$red: #F03E3D;
$dark: #22343D;
$black: #173A56;
$slateblue: #740A76;
$blue: #4D8DFF;
$accent-border: #BCD0E5;
$changer-color: #F3F3F3;
$white-blue: #EDFFFC;

$tablet: 1150px;
$mobile: 808px;