.button {
  @include font($poppins, 16px, 600, 24px);
  background-color: transparent;
  padding: 9px 22px 8px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: .5s linear all;

  &:hover {
    box-shadow: 0px 0px 10px gray;
  }
}

.button--white {
  color: $black;
  background-color: transparent;
  border-color: $accent-border;
}

.button--green {
  color: #ffffff;
  background-color: $green;
}