  .footer__container {
    display: grid;
    grid-template-columns: 324px 460px 324px;
    grid-template-rows: 1fr 93px;
  }

  .footer__links {
    width: 162px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 29px 40px;
    grid-gap: 24px 16px;
    grid-template-areas: "logo logo logo"
      "link link link";
  }


  .footer__logo {
    grid-area: logo;
    @include basic-img;
    width: 162px;
    height: 29px;
    background-image: url(../../img/product-logo.svg);
    background-size: contain;
  }

  .footer__link {
    @include flex;
    padding: 10px;
    background-color: $white-blue;
    border-radius: 50%;
    transition: .5s linear all;

    &:hover {
      box-shadow: 0 0 10px gray;
    }
  }

  .footer__cart {
    @include flex;
    align-items: flex-start;
  }

  .footer__nav {
    flex-basis: 50%;
  }

  .footer__nav-title {
    @include font($poppins, 20px, 500, 30px);
    margin-bottom: 8px;
    color: $dark
  }

  .footer__nav-list {
    @include reset-list;
  }

  .footer__item-link {
    @include font($poppins, 16px, 400, 35px);
    color: $dark;
  }

  .footer__label {
    @include font($poppins, 20px, 500, 30px);
    color: $dark;
  }

  .footer__label-input {
    max-width: 325px;
    height: 48px;
    margin: 34px 0 21px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  }

  .footer__button {
    padding: 8px 15px 7px;
    font-weight: 700;
  }

  .footer__slogan {
    @include basic-area;
    @include font($poppins, 16px, 400, 30px);
    padding-top: 16px;
    text-align: center;
    grid-column: 1 / 4;
    color: $dark;
  }

  @media only screen and (max-width: $tablet) {
    .footer__container {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }

  @media only screen and (max-width: $mobile) {
    .footer__container {
      @include flex;
      flex-direction: column;
      row-gap: 32px;
      ;
    }

    .footer__cart {
      flex-direction: column;
      align-items: center;
    }

    .footer__nav {
      margin-bottom: 32px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .footer__form {
      margin: 0 auto;
      text-align: center;
    }

    .footer__label-input {
      @include basic-area;
      display: block;
      max-width: 325px;
      margin: 34px auto 21px;
    }

    .footer__button {
      display: block;
      margin: 0 auto;
    }

    .footer__slogan {
      padding: 0 0 45px;
    }
  }