.intro-product {
    padding-top: 174px;
    padding-bottom: 219px;
}

.intro-product__title {
    margin: 0px;
    padding: 0px;
    width: 518px;
    height: 120px;
    font-family: $poppins;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}

.intro-product__discription {
    width: 458px;
    height: 95px;
    font-family: $poppins;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-top: 18px;
    margin-bottom: 45px;
}

.intro-product__link {
    width: fit-content;
    text-decoration: none;
    padding: 13px 39px 12px;
    background-color: $green;
    color: #fff;
    margin-right: 12px;
    font-family: $poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
        background-color: transparent;
        color: $green;
        transition: 0.3s;
    }
}

.intro-product__video {
    /*     width: fit-content;
 */
    height: 24px;
    font-family: $poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $green;
    text-decoration: underline;
    padding-left: 9px;
    border-radius: 4px;

    &:hover {
        background-color: $green;
        color: #fff;
        padding: 14px;
        transition: 0.3s;
    }
}

.intro-product__span {
    position: relative;

    &::before {
        width: 20px;
        height: 17px;
        display: inline-block;
        background-image: url("../../img/play-btn.svg");
        background-position: center center;
        background-repeat: no-repeat;
        content: "";
    }
}

.intro-product__content {
    position: relative;

    &::before {
        position: absolute;
        width: 600px;
        height: 556px;
        display: inline-block;
        background-image: url("../../img/intro-bg.svg");
        top: -125px;
        left: calc((50% * 2) / 2);
        content: "";
    }
}

@media only screen and (max-width: $tablet) {
    .container {
        max-width: $tablet;
        padding: 0px 40px;
    }

    .intro-product__content {
        padding-top: 200px;
        position: relative;

        &::before {
            position: absolute;
            width: 338px;
            height: 311px;
            display: inline-block;
            background-image: url("../../img/mobile-bg.svg");
            background-position: center center;
            background-repeat: no-repeat;
            top: -150px;
            left: 145px;
            content: "";
        }
    }

    .intro-product__title {
        width: 100%;
        text-align: center;
        height: 120px;
        font-family: $poppins;
        font-size: 36px;
        font-weight: 700;
        line-height: 56px;
    }

    .intro-product__discription {
        margin: 0px;
        text-align: center;
        width: 100%;
        font-size: 18px;
        font-family: $poppins;
        font-weight: 400;
    }

    .intro-product__link {
        text-align: center;
        width: fit-content;
        text-decoration: none;
        padding: 13px 39px 12px;
        background-color: $green;
        color: #fff;
        margin-right: 12px;
        font-family: $poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid transparent;
        border-radius: 4px;
    
        &:hover {
            background-color: transparent;
            color: $green;
            transition: 0.3s;
        }
    }

    .intro-product__video {
        width: 100%;
        text-align: center;
        height: 24px;
        font-family: $poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $green;
        text-decoration: underline;
        padding-left: 9px;
        border-radius: 4px;
    
        &:hover {
            background-color: $green;
            color: #fff;
            padding: 14px;
            transition: 0.3s;
        }
    }
}

@media only screen and (max-width: $tablet) {
        .intro-product {
            margin-top: 260px;
            margin-left: 187px;
            padding: 37px 0px;
    }

    .intro-product__content {

        &::before {
        position: absolute;
        width: 338px;
        height: 310px;
        display: block;
        background-image: url('../../img/mobile-bg.svg');
        background-repeat: no-repeat;
        background-position: center center;
        top: -300px;
        left: auto;
        z-index: -1;
        content: '';
        }
    } 

    .intro-product__title {
        margin: 0px;
        margin-top: 80px;
        width: 369px;
        height: 120px;
        font-family: $poppins;
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
    }

    .intro-product__discription {
        margin-top: 18px;
        margin-bottom: 32px;
        width: 326px;
        height: 95px;
        font-family: $poppins;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
    }

    .intro-product__link {
        text-decoration: none;
        padding: 14px 23px 13px 24px;
        background-color: $green;
        color: #fff;
        margin-right: 12px;
        font-family: $poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid #000;
        border-radius: 4px;
        display: inline-block;
    
        &:hover {
            background-color: transparent;
            color: $green;
            transition: 0.3s;
        }
    }

    .intro-product__video {
        width: 100%;
        text-align: center;
        height: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $green;
        text-decoration: underline;
        padding-left: 9px;
        border-radius: 4px;
        
        &:hover {
            background-color: $green;
            color: #fff;
            padding: 14px ;
            transition: 0.3s;
            font-family: $poppins;
            }
        }
} 
