.pricing__container {
    padding-top: 150px;
    text-align: center;
    color: $dark;
}

.pricing__container--price {
    padding-top: 32px;
    padding-bottom: 150px;
}

.pricing__title {
    @include basic-area;
    @include font($poppins, 34px, 700, 51px);
}

.pricing__title--price {
    @include font($poppins, 40px, 700, 60px);
}

.pricing__description {
    @include basic-area;
    @include font($poppins, 16px, 400, 24px);
    margin: 8px 0 50px;
}

.pricing__list {
    @include reset-list;
    @include basic-area;
    @include flex;
    justify-content: space-between;
}

.pricing__list-item {
    width: 322px;
    position: relative;
    padding: 24px 70px 32px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: $dark;

    &::before {
        content: "";
        width: 71px;
        height: 1px;
        background: rgba(188, 208, 229, 0.496913);
        position: absolute;
        top: 120px;
        left: 100%;
    }

    &:last-child {
        &::before {
            content: unset;
        }
    }

    &:nth-child(even) {
        background-color: $green;
        color: #ffffff;

        & .pricing__item-button {
            background-color: #ffffff;
            color: $green;

            &:hover {
                box-shadow: 0px 0px 10px #f4f4f4f4;
            }
        }
    }
}

.pricing__item-title {
    @include basic-area;
    @include font($poppins, 24px, 700, 40px);
}

.pricing__item-description {
    @include basic-area;
    @include font($poppins, 16px, 400, 40px);
    margin: 8px 0 16px;
}

.pricing__item-cost {
    @include flex;
}

.pricing__item-price {
    @include font($poppins, 76px, 700, 100px);
    margin-right: 8px;
    letter-spacing: 0.2px;
}

.pricing__item-values {
    @include flex;
    flex-direction: column;
    align-items: flex-start;
}

.pricing__item-value {
/*     @include font($inter, 24px, 700, 30px); */
    margin-bottom: 4px;
    letter-spacing: 0.1px;
}

.pricing__item-date {
    @include font($poppins, 16px, 400, 19px);
    letter-spacing: 0.1px;
    color: #afafaf;
}

.pricing__item-info {
    @include basic-area;
    margin-bottom: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;

    &:last-child {
        margin-bottom: 0;
    }
}

.pricing__item-informations {
    margin: 16px 0 38px;
}

.pricing__item-button {
    /* @include font($montserrat, 18px, 600, 21px); */
    display: inline-block;
    padding: 11px 19px;
    border-radius: 8px;
    transition: 0.5s linear all;

    &:hover {
        box-shadow: 0px 0px 10px gray;
    }
}

@media only screen and (max-width: $tablet) {
    .pricing__container--price {
        padding-top: 30px;
    }

    .pricing__list {
        max-width: 676px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pricing__list-item {
        margin: 0 32px 32px 0;

        &:nth-child(even) {
            margin-right: 0;

            &::before {
                content: unset;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            width: 32px;
        }
    }
}

@media only screen and (max-width: $mobile) {
    .pricing__container {
        padding: 100px 20px;
    }

    .pricing__container--price {
        padding-top: 30px;
    }

    .pricing__title--price {
        @include font($poppins, 36px, 700, 54px);
    }

    .pricing__list {
        flex-direction: column;
    }

    .pricing__list-item {
        margin-right: 0;
        margin-bottom: 32px;

        &::before {
            content: unset;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
